<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Assistant Training</title>
    	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
    @*<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />*@
    
    	<link href="https://cdn.kendostatic.com/2021.3.1207/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.kendostatic.com/2021.3.1207/js/jquery.min.js"></script>
	<script src="https://cdn.kendostatic.com/2021.3.1207/js/jszip.min.js"></script>
	<script src="https://cdn.kendostatic.com/2021.3.1207/js/kendo.all.min.js"></script>
	<script src="https://cdn.kendostatic.com/2021.3.1207/js/kendo.aspnetmvc.min.js"></script>
@* Add the bootstrap.min.js script: *@
    	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    @*<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />*@

</head>
<body>

    <div class="example3">
        <nav class="navbar navbar-custom  navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="~/Content/images/cmyk_r.jpg" />
                    </a>
                </div>
                <div id="navbar3" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Workers", "Index", "Workers")</li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                        }
                        <li>@Html.ActionLink("Instructions", "Index", "Instructions")</li>
                        <li>@Html.ActionLink("Trainings", "Index", "Training")</li>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Operator"))
                        {
                            <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Users", "Index", "Account")</li>
                        }
                        @Html.Partial("_LoginPartial")
                    </ul>


                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Medical Trainings Database @ViewContext.Controller.GetType().Assembly.GetName().Version</p>
        </footer>
    </div>

    @* <script src="~/Scripts/jquery-1.10.2.min.js"></script> *@
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)

</body>
</html>