@model AssistantTraining.ViewModel.WorkerViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Worker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSuspend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSuspend)
        </dd>
        @foreach (var item in Model.SelectedGroups)
        {
            <dt>Grypa:</dt>
            <dd>@item.GroupName</dd>
        }
    </dl>



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
