@model IEnumerable<AssistantTraining.Models.Group>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

    <a href="@Url.Action("Create", "Groups")" class="btn btn-default">
        Create New
        <span class="glyphicon" aria-hidden="true"></span>
    </a>

</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(foo => foo.GroupName).Titled("Nazwa").Sortable(true).Filterable(true).SetWidth(110);
    /* Adding not mapped column, that renders body, using inline Razor html helper */
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(foo => Edit(foo.ID));

}).WithPaging(10)

@helper Edit(int Id)
{
    @Html.ActionLink("Details", "Details", new { id = Id })

if (User.IsInRole("Administrator"))
{
        @:| @Html.ActionLink("Edit", "Edit", new { id = Id })
    }
    if (User.IsInRole("Administrator"))
    {
        @:| @Html.ActionLink("Delete", "Delete", new { id = Id })
    }
}
